body
{
    background-color: aliceblue;
    
}

h1
{
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2
{
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: red;
}

.photo
{
    width: 200px;
    height: 200px;
}

.Informations personnelles
{
    
}